.container {
}

.about_container {
  display: grid;
  grid-template-columns: 30% 50%;
  gap: 5%;
  margin-left: 2rem;
}

.about_me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
}

.about_me_image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
}
.about_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem
}

.about_card{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
   
text-align: center;

}
.about_card:hover{
    background: transparent;
    border-color: var(--color-primary);
    cursor: default;

}

.about_icon{
    color: var(--color-primary);
    font-size: 2rem;
    margin-bottom: 1rem;
    
}

.about_card h5{
    font-size: 0.9rem;
}
.center_icon{
    display: flex;
    justify-content: space-around;
}